:root {
  --light-size: 50px;
}

.panel {
  width: calc(--light-size * 16);
  height: calc(--light-size * 9);
  display: flex;
  flex-direction: row-reverse;
  
  .light {
    width: 50px;
    height: 50px;
    background: #ddd;
    margin: 4px;
    border-radius: 6px;

    &.on {
      background: #6c9;
      background: rgb(228, 143, 15);
      background: rgb(15, 150, 228);
    }
    
    &.off {
      background: #555;
    }
  }
}
