:root {
  --light-size: 50px;
  --on-color: #6c9;
}

.panel {
  display: flex;
  flex-direction: row-reverse;
  
  .light {
    width: 50px;
    height: 50px;
    background: #ddd;
    margin: 4px;
    border-radius: 6px;

    &.on {  
      background: var(--on-color);
    }
    
    &.off {
      background: #555;
    }
  }
}