.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

    &:focus {
      outline: none;
    }

    &[type="submit"] {
      cursor: pointer;
      background: #6c9;

      &:hover {
        filter: brightness(110%);
      }
    }
    
    &[type="button"] {
      cursor: pointer;
      width: 50px;
      margin-right: 10px;
      
      &:hover {
        filter: brightness(110%);
      }

      &.red {
        background: #ff545c;
      }
      
      &.blue {
        background: #2785ff;
      }
      
      &.white {
        background: #dfdfdf;
      }

      &.green {
        background: #66cc99;
      }
    }
  }
  
  .form-group {
    display: flex;
    margin: 0 30px;
    flex-direction: column;

    label {
      text-align: center;
    }
  }
}